---
import BaseLayout from '../layouts/BaseLayout.astro'
import MiniBanner from '../components/MiniBanner.astro'
import { Image } from 'astro:assets'
import gina from '../images/gina.jpg'
import colorImage from '../images/Peggy kitchen cropped.jpg'
import before1 from '../images/beforeafter/maple valley before1.webp'
import before2 from '../images/beforeafter/maple valley before2.webp'
import after1 from '../images/beforeafter/maple valley after1.webp'
import after2 from '../images/beforeafter/maple valley after2.webp'
---

<style>
  .container {
    display: flex;
  }
  .beforeafter-container {
    flex-direction: column;
  }
  .beforeafter-container h3 { 
    text-align: center;
    margin-top: 3rem;
  }
  .beforeafter {
    display: flex;
    gap: 2rem;
  }
  .before, .after {
    height: 400px;
    object-fit: cover;
    flex-basis: 50%;
    min-width: 0;
  }
  .gina-image {
    margin-right: 3rem;
    margin-bottom: 1rem;
    height: 200px;
    width: 200px;
    min-width: 200px;
  }
  .color-image {
    width: 40%;
    height: auto;
    object-fit: cover;
  }
  @media all and (max-width: 768px) {
    .container {
      display: block;
      line-height: 0; /* fixes minor margin error on mobile */
    }
    .gina-image {
      float: left;
    }
    .color-image {
      width: 100%;
    }
  }
</style>
<BaseLayout>
  <MiniBanner title="About Belle Maison" />
  <article class="body-width">
    <div class="container content-block content-block-inner">
      <figure class="gina-image">
        <Image src={gina} alt="Gina Schorr" />
        <figcaption>Gina Schorr, owner</figcaption>
      </figure>
      <div class="reading-width">
        <p>
          Everyone who comes to Belle Maison has a <strong>vision</strong> of how they want
          their lifestyle reflected in their home. At Belle Maison, we believe in making those
          visions a reality. By combining <strong
            >form, function, color, and texture,</strong
          > we collaborate with you to create a beautiful and comfortable living space that
          truly feels like home.
        </p>
        <p>
          With over <strong>20 years</strong> of interior design experience, Belle Maison has
          the expertise and passion to transform your home into a welcoming and timeless environment.
          We bring a keen awareness of what it takes to create lasting designs, utilizing texture,
          color, lighting, textiles, and interior finishes. <strong
            >Your home should reflect who you are</strong
          >—not your designer. We consider both form and function to craft a space that
          represents you and enhances every aspect of your life. <strong
            >Your home is your castle</strong
          >, and it should always surround you with beauty, comfort, and calm.
        </p>
      </div>
    </div>

    <hr />
    <div class="content-block">
      <div class="container">
        <div class="content-block-inner">
          <h2>Our Process</h2>
          <p>
            At Belle Maison, we know that no two clients are alike. Your needs and tastes
            are unique, so <strong
              >we don’t believe in a one-size-fits-all solution</strong
            >. Our process begins with a face-to-face meeting where we get to know you and
            your vision. We’ll ask questions, brainstorm ideas, explore all possibilities,
            and discuss a budget that works for you.
          </p>
          <p>
            Together, we’ll define your starting point and develop a customized plan to
            transform your home into the <strong>functional</strong> and <strong
              >beautiful</strong
            > space you’ve envisioned. We'll define a schedule to structure the next stage
            of the process, which involves space planning, acquisition of materials, furniture,
            accessories, etc., and scheduling contractors.
          </p><p>
            From initial concepts to the final touches, we’ll guide you through every
            step, ensuring that your design goals become a reality.
          </p>
        </div>
        <Image
          src={colorImage}
          alt="beautiful modern bedroom. Blue chaise lounge with decorative pillows in the foreground, modern four-poster bed in the background."
          class="color-image"
        />
      </div>
    </div>
    <hr />

    <div class="content-block">
      <div class="beforeafter-container container">
        <div class="content-block-inner">
          <h2>The Transformation</h2>
          <p>
            See the difference Belle Maison can make. Here’s a simple demonstration of how we can help create your new home.
          </p>
          <h3>Before</h3>
          <div class="beforeafter">
            <Image src={before1} alt="a dated-looking kitchen with stained wooden cabinets, a dark granite countertop, and hanging lamps" class="before" />
            <Image src={before2} alt="a dated-looking kitchen with stained wooden cabinets and a fridge that protrudes into the room" class="before" />
          </div>
          <h3>After</h3>
          <div class="beforeafter">
            <Image src={after1} alt="a sleek, modern kitchen with all white cabinetry. Some cabinets have glass panes and lights inside which illuminate decorative china. A set of three chairs sit by the center island. The countertops are white quartz." class="after" />
            <Image src={after2} alt="a sleek, modern kitchen with white cabinetry and a fridge that merges seemlessly into the surrounding cabinets. Modern chairs sit at the cabinet." class="after" />
          </div>
        </div>
      </div>
    </div>
  </article>
</BaseLayout>
