---
import BaseLayout from '../layouts/BaseLayout.astro'
import Banner from '../components/Banner.astro'
import { Image } from 'astro:assets'
import vertImage from '../images/IMG_5539.webp'
import livingRoom from '../images/Christina LR 1.webp'
import kitchen from '../images/Zenobia kitchen 2 03.12.21.webp'
import bathroom from '../images/Moore bathroom 2 cropped.webp'
import bedroom from '../images/IMG_5535.webp'
import diningRoom from '../images/Christina dining room 2.webp'
---

<style>
  .block {
    margin-top: 3rem;
  }
  .first-block {
    display: flex;
    gap: 4rem;
  }
  .vert-image {
    max-width: 35%;
    height: auto;
  }
  .our-work-list {
    margin-top: 4rem;
  }
  .our-work {
    display: flex;
    gap: 4rem;
    margin-bottom: 4rem;
  }
  .our-work h3 {
    margin-top: 0;
  }
  .our-work-img {
    width: 45%;
    max-height: 300px;
    object-fit: cover;
    flex-shrink: 0;
  }
  @media all and (max-width: 768px) {
    .first-block {
      flex-direction: column;
      gap: 0rem;
    }
    .our-work {
      flex-direction: column-reverse;
      gap: 0rem;
    }
    .vert-image {
      max-width: 100%;
      object-fit: cover;
      max-height: 300px;
    }
    .our-work-img {
      width: 100%;
    }
  }
</style>
<BaseLayout>
  <Banner img={'/banner/IMG_9761.webp'} />
  <article class="body-width block">
    <div class="first-block">
      <div>
        <h2 style="margin-top: 0">Welcome to Belle Maison</h2>
        <p><strong>We believe that comfort is the ultimate luxury</strong></p>
        <p class="reading-width">
          At Belle Maison Interior Design, we are dedicated to helping you achieve your
          ultimate design goals. Our approach blends warm, inviting colors, textures, and
          fabrics to create spaces that are not only luxurious but also deeply
          comfortable. We’re here to explore and visualize the perfect solutions that
          reflect your unique style and elevate your home.
        </p>
      </div>
      <Image
        src={vertImage}
        class="vert-image"
        alt="elegantly decorated bathroom with abstract painting on the wall, decorative cases, and wonderful light over a hardwood floor"
      />
    </div>

    <hr />

    <h2>Talk with Us About:</h2>
    <ul>
      <li>
        <strong>Color Consultations:</strong> Creating palettes that resonate with your vision.
      </li>
      <li>
        <strong>Space Planning:</strong> Maximizing functionality while enhancing aesthetics.
      </li>
      <li>
        <strong>Lighting Selection and Placement:</strong> Setting the perfect ambiance.
      </li>
      <li>
        <strong>Window Treatments:</strong> Custom designs that complement your space.
      </li>
      <li>
        <strong>Custom Furniture and Upholstery:</strong> Tailored pieces that fit your style.
      </li>
      <li>
        <strong>Kitchen and Bath Remodels:</strong> Transforming these spaces into elegant,
        functional areas.
      </li>
      <li>
        <strong>Floor Coverings:</strong> Expert selection of tile, stone, carpet, hardwood,
        and more.
      </li>
      <li>
        <strong>Rug Selection and Placement:</strong> Choosing and placing the perfect rugs
        for any room.
      </li>
      <li>
        <strong>Furniture Selection and Placement:</strong> Curating and arranging pieces to
        harmonize with your space.
      </li>
      <li>
        <strong>Room Re-Designs:</strong> Refreshing your space by rearranging existing furniture
        and accessories.
      </li>
      <li>
        <strong>Art and Accessories:</strong> Selecting and placing art and accessories that
        complete your design.
      </li>
    </ul>
    <h3>Unique Specialities</h3>
    <ul style="max-width: 800px">
      <li>
        <strong>Holiday and Event Decorating:</strong> Elevate your home or event space for
        any occasion with beautifully curated holiday and event décor.
      </li>
      <li>
        <strong>Custom Artwork:</strong> Enhance your space with unique, custom-painted artwork
        that complements your design.
      </li>
    </ul>
    <hr />

    <h2>Some of Our Work</h2>
    <ul class="unstyled-list our-work-list">
      <li class="our-work">
        <Image src={livingRoom} alt="" class="our-work-img" />
        <div>
          <h3>Living Rooms</h3>
          <p>
            Your living room should be a sanctuary of comfort and style, where every
            detail invites relaxation. At Belle Maison, we transform your living space
            into a luxurious retreat, blending rich textures, warm colors, and carefully
            curated furnishings. Whether it’s a cozy nook for family gatherings or a
            sophisticated space for entertaining, we’ll design a living room that reflects
            your unique lifestyle.
          </p>
        </div>
      </li>
      <li class="our-work">
        <Image src={kitchen} alt="" class="our-work-img" />
        <div>
          <h3>Kitchens</h3>
          <p>
            The kitchen is the heart of your home, and Belle Maison brings together
            function and beauty to create a space where memories are made. From custom
            cabinetry to elegant countertops and lighting, we’ll design a kitchen that’s
            as inviting as it is practical. Whether you’re hosting dinner parties or
            enjoying a quiet morning coffee, your kitchen will be a place of warmth and
            connection.
          </p>
        </div>
      </li>
      <li class="our-work">
        <Image src={bathroom} alt="" class="our-work-img" />
        <div>
          <h3>Bathrooms</h3>
          <p>
            Experience the ultimate in relaxation with a bathroom designed by Belle
            Maison. We’ll create a spa-like oasis that combines luxurious finishes,
            soothing colors, and elegant fixtures. From modern minimalism to timeless
            elegance, your bathroom will become a serene escape where you can unwind and
            recharge in style.
          </p>
        </div>
      </li>
      <li class="our-work">
        <Image src={bedroom} alt="" class="our-work-img" />
        <div>
          <h3>Bedrooms</h3>
          <p>
            Your bedroom is your personal haven, a place of rest and rejuvenation. Belle
            Maison designs bedrooms that envelop you in comfort and tranquility, using
            soft fabrics, calming color palettes, and thoughtfully arranged furnishings.
            We’ll craft a space where you can retreat from the world, surrounded by beauty
            and serenity, for the perfect night’s sleep.
          </p>
        </div>
      </li>
      <li class="our-work">
        <Image src={diningRoom} alt="" class="our-work-img" />
        <div>
          <h3>Dining Rooms</h3>
          <p>
            Your dining room is where memorable moments are shared, and Belle Maison
            ensures it’s both elegant and welcoming. We blend sophisticated furniture,
            beautiful lighting, and rich textures to create a space that enhances every
            gathering, from intimate dinners to festive celebrations. Let us craft a
            dining room that’s as inviting as it is refined.
          </p>
        </div>
      </li>
      <li>
        <hr />
        <div class="h3" style="text-align: center; margin-top: 8rem;">And More!</div>
      </li>
    </ul>
    <p class="reading-width" style="text-align: center; margin: auto">
      See our <a href="/portfolio/">Portfolio</a> for examples of what we've done, the <a
        href="/testimonials/">Testimonials</a
      > for our rave reviews, or <a href="/contact/">Contact us</a> to reinvent your home today!
    </p>
  </article>
</BaseLayout>
