---
import BaseLayout from '../layouts/BaseLayout.astro'
import MiniBanner from '../components/MiniBanner.astro'
import { Image } from 'astro:assets'
import Img1 from '../images/Zenobia kitchen 3  03.12.21.webp'
import Img2 from '../images/commercial.webp'
import Img3 from '../images/flowers1.webp'
import Img4 from '../images/flowers2.webp'
import Img5 from '../images/IMG_5535.webp'
import Img6 from '../images/IMG_5539.webp'
import Img7 from '../images/IMG_9318.jpg'
import Img8 from '../images/Christina dining room 2.webp'
import Img9 from '../images/IMG_9756.webp'
import Img10 from '../images/IMG_9761.webp'
import Img11 from '../images/Christina LR 1.webp'
import Img12 from '../images/lodge2.webp'
import Img13 from '../images/lodge3.jpg'
import Img14 from '../images/Maple Valley Bathroom 2.webp'
import Img15 from '../images/Maple Valley Bathroom 3.webp'
import Img16 from '../images/McClure pics 8.webp'
import Img17 from '../images/Moore bathroom 2.webp'
import Img18 from '../images/Raman pics 2 04-05-17.webp'
import Img19 from '../images/Raman pics 3 04-05-17.webp'
import Img20 from '../images/Raman pics 4 04-05-17.webp'
import Img22 from '../images/Raman pics 6 04-05-17.webp'
import Img23 from '../images/Raman pics 8 04-05-17.webp'
import Img24 from '../images/Zenobia kitchen 2 03.12.21.webp'
import Img25 from '../images/Bathroom black and white 1.webp'

const images = [
  { 
    img: Img24, 
    id: 24, 
    alt: 'Gleaming white kitchen with brick-like white tiles on the wall, decorative curved hanging lamps, and beige stone countertops. Two modern stools by the kitchen island.', 
    horz: true, 
    title: 'Magnolia Kitchen' 
  },
  { 
    img: Img1, 
    id: 1, 
    alt: 'Gleaming white kitchen with brick-like white tiles on the wall, decorative curved hanging lamps, and beige stone countertops.', 
    horz: true, 
    title: 'Magnolia Kitchen' 
  },
  { 
    img: Img5, 
    id: 5, 
    alt: 'A stylish bedroom featuring a canopy bed with blue and white bedding. A blue tufted chaise lounge with a white throw and patterned pillows sits in front.', 
    horz: true, 
    title: 'Snohomish Bedroom' 
  },
  { 
    img: Img6, 
    id: 6, 
    alt: 'Clean bathroom with lovely wood floors, an abstract photo of dandelions on the wall, and decorative vases by the sink.', 
    horz: false, 
    title: 'Snohomish Bathroom' 
  },
  { 
    img: Img7, 
    id: 7, 
    alt: 'Small, modern bedroom with decorative pillows and blankets. Mirrored bedside tables and tall lamps on either side of the queen bed.', 
    horz: false, 
    title: 'Broadview Bedroom' 
  },
  { 
    img: Img8, 
    id: 8, 
    alt: 'Classic dining room design with a classy hanging lamp, glass table, six matching chairs, and long matching drapes by the window.', 
    horz: true, 
    title: 'Maple Valley Dining Room' 
  },
  { 
    img: Img9, 
    id: 9, 
    alt: 'A cozy living room with modern design featuring a gray sofa, two armchairs, and a tufted bench. A coffee table is in the center, a fireplace with a mirror and decorations above it, and lamps on side tables. Large windows and a skylight bring in natural light.', 
    horz: false, 
    title: 'Seattle Living Room' 
  },
  { 
    img: Img10, 
    id: 10, 
    alt: 'A modern living room with two cream sofas and two gray armchairs surrounding a glass coffee table on a patterned rug. Two large blue and white abstract paintings hang above the sofas. Lamps with white shades and a basket of pillows complete the decor.', 
    horz: true, 
    title: 'Seattle Living Room' 
  },
  { 
    img: Img25, 
    id: 25, 
    alt: 'Clean white modern bathroom with attractive rug, art, and black set of drawers. The clean mirror is flanked by two modern, torch-like lamps.', 
    horz: false, 
    title: 'Seattle Bathroom' 
  },
  { 
    img: Img11, 
    id: 11, 
    alt: 'A spacious living room with a large window revealing a view of a green garden. The room has a beige sofa, two gray armchairs, a coffee table, a fireplace, and a piano in the corner. The decor includes paintings, books, and a lamp with a patterned shade.', 
    horz: true, 
    title: 'Maple Valley Living Room' 
  },
  { 
    img: Img12, 
    id: 12, 
    alt: 'A spacious living room with wooden flooring and a high ceiling featuring exposed wooden beams. The room is furnished with a white sectional sofa, two wooden chairs, a tufted ottoman, and a fireplace.', 
    horz: true, 
    title: 'Magnolia Living Room' 
  },
  { 
    img: Img13, 
    id: 13, 
    alt: 'A bright and spacious bedroom with white walls and hardwood flooring. The room features a large bed with gray and white bedding, a ceiling fan, two windows with wooden blinds, and a wall-mounted TV. A plush beige armchair sits at the foot of the bed.', 
    horz: true, 
    title: 'Magnolia Bedroom' 
  },
  { 
    img: Img14, 
    id: 14, 
    alt: 'A modern bathroom featuring a large glass shower enclosure with gray tiled walls, a wooden bench, and dual showerheads. A vanity with double sinks, gold fixtures, and a mirror is adjacent to the shower. A large glass-block window lets in natural light.', 
    horz: true, 
    title: 'Maple Valley Bathroom' 
  },
  { 
    img: Img15, 
    id: 15, 
    alt: 'A modern bathroom featuring a gray double vanity with two mirrors and wall-mounted lights. To the left, a glass-enclosed shower has a gold showerhead and fixtures. The walls have a mix of gray tile and white accents, and the floor is tiled in gray.', 
    horz: true, 
    title: 'Maple Valley Bathroom' 
  },
  { 
    img: Img20, 
    id: 20, 
    alt: 'A cozy bedroom with a large window on the left, a bed adorned with white and pink pillows and a comforter. Two transparent cubes act as a bench at the foot of the bed. A desk with a computer, lamp, and decorative items is in front of the window. Modern decor on the walls.', 
    horz: true, 
    title: 'Edmonds Bedroom' 
  },
  { 
    img: Img16, 
    id: 16, 
    alt: 'A modern bedroom with a large window, patterned curtains, and a bed featuring geometric-patterned bedding. Above the bed are three decorative wall art pieces. A stylish chandelier hangs from the ceiling, and there are two nightstands with lamps on each side of the bed.', 
    horz: true, 
    title: 'Edmonds Bedroom' 
  },
  { 
    img: Img17, 
    id: 17, 
    alt: 'Spacious bathroom featuring a freestanding white bathtub, dual wooden vanities with white countertops and round mirrors, and modern light fixtures. The room has large windows with ocean views and a light-colored tiled floor. A chandelier hangs from the ceiling.', 
    horz: true, 
    title: 'Richmond Beach Bathroom' 
  },
  { 
    img: Img18, 
    id: 18, 
    alt: 'A modern bedroom featuring a white tufted headboard, a neatly made bed with black and white pillows, and gray bedding. Two bedside tables with circular gold lamps and a small clock on the right table are present. Four circular gold wall decorations hang above the bed.', 
    horz: true, 
    title: 'Edmonds Bedroom' 
  },
  { 
    img: Img19, 
    id: 19, 
    alt: 'A cozy living room with a large sectional sofa adorned with pillows, a round coffee table with decorative items, and a tall potted plant. The room has a chandelier and multiple windows with patterned valances, allowing natural light to filter in.', 
    horz: true, 
    title: 'Edmonds Living Room' 
  },
  { 
    img: Img22, 
    id: 22, 
    alt: 'A modern bathroom featuring a glass-enclosed walk-in shower with white subway tile walls and a vertical accent strip. A soaking tub with folded green towels on its edge is adjacent. Sunlight filters through a window near the shower.', 
    horz: false, 
    title: 'Bothell Bathroom' 
  },
  { 
    img: Img23, 
    id: 23, 
    alt: 'A cozy living room with modern decor. It features a gray L-shaped couch adorned with various throw pillows, a coffee table with a globe on top, two patterned ottomans, abstract art on the walls, a floor lamp, and a wooden floor with a beige rug.', 
    horz: true, 
    title: 'Bothell Living Room' 
  },
  { 
    img: Img2, 
    id: 2, 
    alt: 'Tidy office break room space with three tables and fetching black and red chairs. Strong gray and white contrasts in the kitchen.', 
    horz: true, 
    title: 'Seattle Corporate Space' 
  },
  { 
    img: Img3, 
    id: 3, 
    alt: 'Colorful flower arrangement with bright orange flowers in the front, blues in the back, and white and purple flowers to the side.', 
    horz: false, 
    title: 'Magnolia Custom Arrangement' 
  },
  { 
    img: Img4, 
    id: 4, 
    alt: 'Colorful flower arrangement in pots with dramatic green leaves, pink and purple flowers in the front. In the back is an elegant glass with flowers around the base.', 
    horz: false, 
    title: 'Magnolia Custom Arrangement' 
  }
]
---

<style>
  .images {
    display: flex;
    column-gap: 2rem;
    row-gap: 4rem;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 0 16px;
  }
  .image-container {
    position: relative;
    margin-bottom: -6px;
    flex-basis: 32%;
  }
  .image {
    object-fit: cover;
    height: 400px;
    transition: filter;
    transition-duration: 200ms;
    }
  .image:hover, .image:focus {
    filter: brightness(0.8);
  }
  @media all and (max-width: 1000px) {
    .image-container {
      flex-basis: 48%;
    }
    .image {
      height: 350px;
    }
  }
  @media all and (max-width: 768px) {
    .image-container {
      flex-basis: 100%;
    }
  }
  .descriptor-text {
    margin-top: 0.5rem;
    font-weight: 300;
  }

  /* temporary, to help troubleshooting */
  /* .image-container:hover .indicator {
    display: block;
  }
  .indicator {
    position: absolute;
    background-color: rgb(222, 222, 222);
    padding: 10px;
    margin: 5px;
    display: none;
    font-size: 3rem;
  } */
    /* .horz {
    height: 300px;
    width: 500px;
  }
  .vert {
    height: 300px;
    width: 300px;
  } */
</style>
<BaseLayout>
  <MiniBanner title="Portfolio" />
  <article>
    <div class="images">
      {
        images.map(({img, id, alt, horz, title}) => {
          return (
            <div class="image-container">
              {/* <div class="indicator">{id}</div> */}
              <a data-fslightbox href={img.src}>
                <Image
                  src={img}
                  alt={alt}
                  class={'image ' + (horz ? 'horz' : 'vert')}
                />
              </a>
                <div class="descriptor-text h5">{title}</div>
            </div>
          )
        })
      }
    </div>
  </article>
  <script>
    import 'fslightbox'
  </script>
</BaseLayout>
