---
import BaseLayout from '../layouts/BaseLayout.astro'
import MiniBanner from '../components/MiniBanner.astro'
import { Image } from 'astro:assets'
import Img1 from '../images/Zenobia kitchen 3  03.12.21.webp'
import Img2 from '../images/commercial.webp'
import Img3 from '../images/flowers1.webp'
import Img4 from '../images/flowers2.webp'
import Img5 from '../images/IMG_5535.webp'
import Img6 from '../images/IMG_5539.webp'
import Img7 from '../images/IMG_9318.jpg'
import Img8 from '../images/Christina dining room 2.webp'
import Img9 from '../images/IMG_9756small.webp'
import Img10 from '../images/IMG_9761.webp'
import Img11 from '../images/Christina LR 1.webp'
import Img12 from '../images/lodge2.webp'
import Img13 from '../images/lodge3.jpg'
import Img14 from '../images/Maple Valley Bathroom 2.webp'
import Img15 from '../images/Maple Valley Bathroom 3.webp'
import Img25 from '../images/Bathroom black and white 1.webp'
import Img16 from '../images/McClure pics 8.webp'
import Img17 from '../images/Moore bathroom 2.webp'
import Img18 from '../images/Raman pics 2 04-05-17.webp'
import Img19 from '../images/Raman pics 3 04-05-17.webp'
import Img20 from '../images/Raman pics 4 04-05-17.webp'
import Img21 from '../images/raman pics 5 04-05-17.webp'
import Img22 from '../images/Raman pics 6 04-05-17.webp'
import Img23 from '../images/Raman pics 8 04-05-17.webp'
import Img24 from '../images/Zenobia kitchen 2 03.12.21.webp'
const images = [
  { img: Img1, id: 1, alt: '', horz: true, title: '' },
  { img: Img24, id: 24, alt: '', horz: true, title: '' },
  { img: Img5, id: 5, alt: '', horz: true, title: '' },
  { img: Img6, id: 6, alt: '', horz: false, title: '' },
  { img: Img7, id: 7, alt: '', horz: false, title: '' },
  { img: Img8, id: 8, alt: '', horz: true, title: '' },
  { img: Img9, id: 9, alt: '', horz: false, title: '' },
  { img: Img10, id: 10, alt: '', horz: true, title: '' },
  { img: Img25, id: 25, alt: '', horz: false, title: '' },
  { img: Img11, id: 11, alt: '', horz: true, title: '' },
  { img: Img12, id: 12, alt: '', horz: true, title: '' },
  { img: Img13, id: 13, alt: '', horz: true, title: '' },
  { img: Img14, id: 14, alt: '', horz: true, title: '' },
  { img: Img15, id: 15, alt: '', horz: true, title: '' },
  { img: Img20, id: 20, alt: '', horz: true, title: '' },
  { img: Img16, id: 16, alt: '', horz: true, title: '' },
  { img: Img17, id: 17, alt: 'Spacious bathroom featuring a freestanding white bathtub, dual wooden vanities with white countertops and round mirrors, and modern light fixtures. The room has large windows with ocean views and a light-colored tiled floor. A chandelier hangs from the ceiling.', horz: true, title: '' },
  { img: Img18, id: 18, alt: '', horz: true, title: '' },
  { img: Img19, id: 19, alt: '', horz: true, title: '' },
  { img: Img21, id: 21, alt: '', horz: true, title: '' },
  { img: Img22, id: 22, alt: '', horz: false, title: '' },
  { img: Img23, id: 23, alt: '', horz: true, title: '' },
  { img: Img2, id: 2, alt: '', horz: true, title: 'Corporate' },
  { img: Img3, id: 3, alt: '', horz: false, title: '' },
  { img: Img4, id: 4, alt: '', horz: false, title: '' },
]
---

<style>
  .images {
    display: flex;
    column-gap: 2rem;
    row-gap: 4rem;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 0 16px;
  }
  .image-container {
    position: relative;
    margin-bottom: -6px;
    flex-basis: 32%;
  }
  .image {
    object-fit: cover;
    height: 400px;
  }
  @media all and (max-width: 1000px) {
    .image-container {
      flex-basis: 48%;
    }
    .image {
      height: 350px;
    }
  }
  @media all and (max-width: 768px) {
    .image-container {
      flex-basis: 100%;
    }
  }
  .descriptor-text {
    margin-top: 0.5rem;
    font-weight: 300;
  }

  /* temporary, to help troubleshooting */
  .image-container:hover .indicator {
    display: block;
  }
  .indicator {
    position: absolute;
    background-color: rgb(222, 222, 222);
    padding: 10px;
    margin: 5px;
    display: none;
    font-size: 3rem;
  }
    /* .horz {
    height: 300px;
    width: 500px;
  }
  .vert {
    height: 300px;
    width: 300px;
  } */
</style>
<BaseLayout>
  <MiniBanner title="Portfolio" />
  <article>
    <div class="images">
      {
        images.map(({img, id, alt, horz, title}) => {
          return (
            <div class="image-container">
              <div class="indicator">{id}</div>
              <a data-fslightbox href={img.src}>
                <Image
                  src={img}
                  alt={alt}
                  class={'image ' + (horz ? 'horz' : 'vert')}
                />
              </a>
                <div class="descriptor-text h5">{title}</div>
            </div>
          )
        })
      }
    </div>
  </article>
  <script>
    import 'fslightbox'
  </script>
</BaseLayout>
